.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
}

.intro_img{
    width: 100%;
    display: block;
}

.intro_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0 80px 20px 80px;
    align-items: center;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    list-style: none;
    gap: 30px 130px;
    margin-top: 100px;
    padding: 0;
    align-items: baseline;
}

li {
    margin-top: 30px;
    text-align: center;
}

.productive {
    display: flex;
    align-items: center;
    padding: 150px 0 100px 0;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}

.productive_img {
    max-width: 400px;
    max-height: 400px;
    margin-right: 40px;
}

.productive_link {
    display: flex;
    color: hsl(176, 68%, 64%);
}

.productive_arrow {
    padding-left: 10px;
}

.quotes{
   margin-left: -865px;
   margin-bottom: -15px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.team_profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 0 0 20px hsl(216, 53%, 9%);
    font-size: 12px;
    border-radius: 5px;
}

.team_img {
    border-radius: 100%;
    max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
}

.team_signature {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    
}

.sign {
    width: 70%;
    text-align: center;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 0 0 20px hsl(216, 53%, 9%);
    padding: 30px;
    margin-bottom: -100px;
    margin-top: 150px;
    position: relative;
}

.sign_text {
    text-align: center;
    font-size: 12px;
    padding: 0 40px 20px 40px;
}

.sign_inputs {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-right: 40px;
    padding-left: 20px;
}

.sign_email {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    border: none;
    margin-right: 20px;
    text-align: left;
    padding: 10px 100px 10px 30px;
}

@media (max-width: 700px) {
    body{
      margin: 0;
    }
    .header{
        font-size: 23px;
        padding-bottom: 0;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .intro_text{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        margin: 0 20px 10px 20px;
    }

    .benefits{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .productive{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .productive_img{
        width: 100%;
        margin: 0 0 30px;
        padding: 0;
    }

    h1{
        font-size: 17px;
    }

    .quotes{
        margin-left: -265px;
        margin-bottom: -18px;
    }

    .quotes_img{
        width: 25px;
    }

    .team{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .team_profile{
        border-radius: 5px;
    }

    .team_signature{
        margin: 0;
    }

    .sign{
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px hsl(216, 53%, 9%);
        height: 280px;
        width: 260px;
        border-radius: 10px;
        padding: 30px;
    }

    h2{
        margin: 5px 0 5px 0;
    }

    .sign_text{
        font-size: 14px;
        margin: 0;
        padding: 10px 0 10px 0;
        margin-bottom: 20px;
    }

    .sign_inputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    .sign_email{
        margin: 0;
        padding: 15px
    }
}
