html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(219, 30%, 18%);
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 0 10px 0 50px;
    margin: 50px
}

.nav_elements {
    padding-right: 40px;
}

.nav_elements:hover {
    text-decoration: underline;
}

.nav_img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 10px 50px 10px;
    margin: auto;
    width: 100%;
}

.footer_information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer_email {
    display: flex;
    flex-direction: column;
}

.footer_point {
    padding: 5px 25px 0 0;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

ul {
    margin: 0 auto;
    padding-left: 20px;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}