html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(219, 30%, 18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 0 10px 0 50px;
    margin: 50px
}

.nav_list{
    display: flex;
}

.nav_elements {
    padding-right: 40px;
}

.nav_elements:hover {
    text-decoration: underline;
}

.nav_img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 25px;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    min-width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.btn:active {
    cursor: pointer;
    background-color: #65e2d9;
}

.footer {
    width: 100%;
    background-color: #0b1523;
}

.footer_content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 200px 50px 40px 50px;
}
.footer_img{
    display: inline-block;
}

.footer_information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 350px;
}

.footer_email {
    display: flex;
    flex-direction: column;
}

.footer_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer_point {
    padding: 5px 25px 0 0;
}

.footer_icons{
    display: flex;
    flex-direction: column;
}
.footer_sm{
    position: relative;
    color: white;
    width: 32px;
    height: 32px;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

ul {
    margin: 0 auto;
    padding-left: 20px;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}